body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-top,
.controls-bottom {
    margin: 5px;
}

.size-container {
    display: flex;
    flex-direction: column;
}

.selection {
    display: flex;
    flex-direction: column;
}

button {
    border: 1px solid white;
    padding: 5px 15px;
    transition-duration: 0.2s;
}

button:hover {
    border: 1px solid gray;
    background-color: white;
    color: black;
}

/* etch-a-sketch */
.container {
    max-width: 502px;
    max-height: 502px;
    border: 0.1px solid black;
}

.row {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.cell {
    height: 10px;
    width: 10px;
    border: 0.1px solid black;
}

.filled {
    background-color: black;
}

.rainbow {
    background-color: red;
}

.no-border {
    border: none;
}